<?xml version="1.0"?>
<robot name="goddard">
    <link name="base_link" />

    <link name="body">
        <visual>
            <geometry>
                <mesh filename="package://goddard_description/meshes/body.stl" scale = "0.01 0.01 0.01" />
            </geometry>
        </visual>
    </link>

    <joint name="body_to_base_link" type="fixed">
        <parent link="base_link" />
        <child link="body" />
    </joint>

</robot>